# /usr/share/dbus-1/system-services/ : D-Bus activation -> systemd unit
[D-BUS Service]
Name=io.github.dc.CosmicVpnHelper
Exec=/bin/false
User=root
SystemdService=cosmic-vpn-helper.service
