[Desktop Entry]
Name=Weather
Comment=Current conditions, 24-hour and 7-day forecast for your cities
Type=Application
Exec=cosmic-applet-weather
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Weather;Forecast;Temperature;Rain;
Icon=weather-few-clouds-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
